/* Sidebar Styling */
.sidebar {
  width: 250px;
}

.menu-item {
  transition: background 0.3s ease-in-out;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border-radius: 5px;
}

/* Dashboard Styling */
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8f9fa;
  padding: 20px;
}

/* Card Styling */
.card {
  border-radius: 10px;
  min-width: 300px;
  max-height: 150px;
  height: 150px;
  margin: auto;
}

.profile {
  border-radius: 10px;
  min-width: 300px;
  max-height: 350px;
  margin: auto;
}

.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
